/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area-textflow {
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-size: 13px;

}
.text-area-textflow .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area-textflow:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area-textflow:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area-textflow .content {
    -fx-padding: 0px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}